@media only screen and (max-width: 768px) {
  .contact {
    display: grid;
  }
  .banner-hgt {
    height: 30rem !important;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .contact-width {
    width: 25%;
  }
}
.banner-hgt {
  height: 20rem;
}
// @media only screen and (max-width: 1200px) {
//   .contact {
//     width: 100%;
//   }
// }
