<div class="container-fluid">
  <div class="row">
    <div class="col-12 my-5 py-3" style="background-color: aquamarine">
      <!-- Hero Section -->
      <section
        id="home"
        class="text-center"
        style="height: 20rem; align-content: center"
      >
        <div class="container">
          <h1 style="font-weight: 700">Handmade with Love💖</h1>
          <p style="font-weight: 700">
            ✨Beautiful Resin Art, Crochet Creations & Decorative Candles✨
          </p>
          <button
            class="btn"
            style="background: coral"
            href="https://instagram.com/bhavi.13"
          >
            Shop Now
          </button>
        </div>
      </section>
    </div>
    <div
      class="col-12 mb-5 py-3"
      style="justify-items: center !important; background-color: beige"
    >
      <section id="products">
        <div class="row gy-5 gy-md-0 text-center" style="place-content: center">
          <div class="card mx-3" style="width: 18rem">
            <img
              src="assets/Images/ResinArt.jpeg"
              class="card-img-top"
              style="height: 20rem"
              alt="..."
            />
            <div class="py-4">
              <h5 class="card-title">Resin Art</h5>
              <p class="card-text">
                Coasters, Keychains, Accessories, Frames, Festive Items, etc...
              </p>
            </div>
            <div
              class="d-flex justify-content-end text-center align-self-center pb-3"
            >
              <a
                class="btn"
                style="background: coral"
                href="https://instagram.com/bhavi.13"
                target="_blank"
                >Shop Now</a
              >
            </div>
          </div>
          <div class="card mx-3" style="width: 18rem">
            <img
              src="assets/Images/Crochet.jpeg"
              class="card-img-top"
              style="height: 20rem"
              alt="..."
            />
            <div class="py-4">
              <h5 class="card-title">Crochet</h5>
              <p class="card-text">
                Flowers, Keychains, Bouquets, SoftToys, etc...
              </p>
            </div>
            <div
              class="d-flex justify-content-end text-center align-self-center pb-3"
            >
              <a
                class="btn"
                style="background: coral"
                href="https://instagram.com/bhavi.13"
                target="_blank"
                >Shop Now</a
              >
            </div>
          </div>
          <div class="card mx-3" style="width: 18rem">
            <img
              src="assets/Images/Candles.jpeg"
              class="card-img-top"
              style="height: 20rem"
              alt="..."
            />
            <div class="py-4">
              <h5 class="card-title">Candles</h5>
              <p class="card-text">Decortive, Festive and Scented Candles</p>
            </div>
            <div
              class="d-flex justify-content-end text-center align-self-center pb-3"
            >
              <a
                class="btn"
                style="background: coral"
                href="https://instagram.com/bhavi.13"
                target="_blank"
                >Shop Now</a
              >
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-12 mb-5 py-3" style="background-color: aquamarine">
      <section
        class="text-center banner-hgt"
        style="align-content: center"
        id="aboutus"
      >
        <h2 style="font-weight: 700">About Us</h2>
        <p style="font-weight: 700; font-size: 18px">
          Handmade Memories creates handmade resin art products, crochet
          products and candles that turn special moments into lasting
          memories❤️😍
        </p>
      </section>
    </div>
    <div class="col-12 mb-5 py-3" style="background-color: beige">
      <section
        id="contactus"
        class="text-center"
        style="height: 20rem; align-content: center"
      >
        <h2 style="font-weight: 700">Contact Us</h2>
        <div class="text-center mt-4 contact">
          <a
            href="mailto:sbhavika131296@gmail.com"
            target="_blank"
            class="btn btn-primary mb-4 mb-md-0 me-md-2 contact-width"
          >
            📧 Email
          </a>

          <a
            href="https://wa.me/919930234798"
            target="_blank"
            class="btn btn-success mb-4 mb-md-0 me-md-2 contact-width"
          >
            💬 WhatsApp
          </a>

          <a
            href="https://instagram.com/bhavi.13"
            target="_blank"
            class="btn btn-danger contact-width"
          >
            📷 Instagram
          </a>
        </div>
      </section>
    </div>
  </div>
</div>
